@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.toc {
  @apply py-2 pr-3;

  .toc-list {
    @apply border-l-2 ml-3 border-none;
    /* @apply border-l-2 border-muted ml-5; */
  }

  .toc-link {
    @apply flex text-sm w-[100%] py-1.5 relative pl-9;
    /* @apply flex text-sm w-[100%] py-1.5 flex relative pl-9 hover:text-foreground text-muted-foreground; */
    &:before {
      @apply content-[''] w-[10px] h-[10px] border-2 rounded-full top-3 left-4 absolute shadow-[0_0_0_2px_rgb(var(--border))];
      /* @apply content-[''] w-[10px] h-[10px] border-2 border-card rounded-full top-3 left-4 bg-card absolute shadow-[0_0_0_2px_rgb(var(--border))]; */
    }
  }

  .is-active-link {
    @apply font-bold;
    /* @apply font-bold text-foreground; */
    &:before {
      @apply bg-blue-500 outline-blue-500 shadow-[0_0_0_2px_rgb(var(--blue-500))];
      /* @apply bg-primary outline-primary shadow-[0_0_0_2px_rgb(var(--primary))]; */
    }
  }
}
